{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kara Borsa - {% block title %}BASE TITLE{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo2.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    <!-- Top Navigation -->
    <div class="navbar">
        <a href="#"><img src="{% static 'img/logo2.png' %}" alt="Borsa Takibi Logo" class="logo"></a>
        <div class="nav-links">
            <a href="{% url 'dashboard:home' %}">Ana Sayfa</a>
        
            <a href="{% url 'dashboard:home' %}">Hisseler</a>
            <a href="{% url 'accounts:analysis' %}">Analizler</a>
            <a href="{% url 'dashboard:about' %}">Hakkımızda</a>
           
        </div>
        <div class="nav-buttons">
            {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class="btn">Logout</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="btn">Login</a>
                <a href="{% url 'accounts:register' %}" class="btn">Sign Up</a>
            {% endif %}
        </div>
    </div>
    
    <section id="anasayfa">
        {% block content %}
        
        {% endblock content %}
    </section>

    
    
    <!-- Footer Section -->
    <section id="hakkimizda">
        <footer>
            <div class="footer-container">
                <div class="about group">
                    <h2>BLACK BORSA</h2>
                    <p>Stock Market</p>
                </div>
                <div class="info group">
                    <h3>More</h3>
                    <ul>
                        <li><a href="#canli-borsa">Canlı Borsa</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="follow group">
                    <h3>Follow</h3>
                    <ul>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fab fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright group">
                <p> 2024 by EKİP-8 ©Tüm Hakkları Saklıdır.</p>
            </div>
        </footer>
    </section>
    <script src="{% static 'js/anasayfa.js' %}"></script>
    
</body>
</html>
